
.imgg{
height: 6vh;
}

.na {
  background-color:white ;
  padding-bottom: 0 !important;
}
.custom-button {
  background-color: #00896B; /* Replace with your desired color value */
  /* Add any additional styling properties */
}




