* {
  font-family: Georgia, serif;
  box-sizing: border-box;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

body {
  background: #f1f1f1;
}

.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2% 1% 1% 1%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}

.button {
  background: #575DFB;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width:200px;
  padding: 12px 26px;
  transition: background 0.2s ease-in-out;
  margin: 0 10px;
}

.button:hover {
  background: #3d8b8b;
}

.activeButton {
  background: grey;
  color: white;
}
.parent {
  padding: 5%;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  margin: auto;
  /* background: white; */
  /* border: 2px solid black; */
  border-radius: 10px;
  width: 35vw;
  max-width: 500px;
  height: auto;
  padding: 5%;
  line-height: 1.5;

}

.labels {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.inputs {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.inputs:focus {
  outline: none;
  border-color: #575DFB;
}

.inputs_pass {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid red;
  border-radius: 4px;
  outline: none;
}

.buttons {
  background: #575DFB;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width:250px;
  margin-top: 16px;
  padding: 12px 26px;
  transition: background 0.2s ease-in-out;
}

.buttons:hover {
  background: #3d8b8b;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .child {
    width: 100%;
    max-width: none;
    padding: 5%;
  }

  

}