
 .bnn{
  width:fit-content;
  height: fit-content;
  background-color: #00896B; 
  border-color: #00896B; 
  color: #FFFFFF;
} 
 
.bnn:hover {
background-color: #4e9e8d;
border-color: #4e9e8d; 
color: #FFFFFF;
}

.mymodal{
  margin-top: 17vh;
  
}

.fieldss{
  border-radius: 10px;
  border-color:  #073d31;
  
} 
@media (max-width: 767px) {
  .scrollable-container {
    height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
  }
}
