navbar.css

.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  
  .navbar-toggler-icon {
    border: none;
    outline: none;
  }
  
  .navbar-toggler {
    padding: 0;
  }
  
  .btn-primary {
    background-color: #f44336;
    border-color: #f44336;
  }
  
  .btn-primary:hover {
    background-color: #e53935;
    border-color: #e53935;
  }
  